<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.phonegap.plugins.thirdLogin"
        version="0.0.3">

  <name>ThirdLogin</name>
  <description>ThirdLogin Description</description>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/ThirdLogin.js" name="ThirdLogin">
    <clobbers target="window.plugins.ThirdLogin"/>
  </js-module>

  <!-- android -->
  <platform name="android">

    <source-file src="src/android/ThirdLogin.java" target-dir="src/com/phonegap/plugins/thirdLogin"/>
    <source-file src="src/android/JdActivity.java" target-dir="src/com/phonegap/plugins/thirdLogin"/>
    <source-file src="src/android/QqActivity.java" target-dir="src/com/phonegap/plugins/thirdLogin"/>
    <source-file src="src/android/WxActivity.java" target-dir="src/com/phonegap/plugins/thirdLogin"/>
    <source-file src="src/android/WbActivity.java" target-dir="src/com/phonegap/plugins/thirdLogin"/>
    <source-file src="src/android/wxapi/WXEntryActivity.java" target-dir="src/com/pachila/pcl/wxapi"/>
    <source-file src="src/android/MySSLProtocolSocketFactory.java" target-dir="src/com/phonegap/plugins/thirdLogin"/>
    <source-file src="src/android/HttpUtil.java" target-dir="src/com/phonegap/plugins/thirdLogin"/>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ThirdLogin">
        <param name="android-package" value="com.phonegap.plugins.thirdLogin.ThirdLogin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
        android:name="com.phonegap.plugins.thirdLogin.JdActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <intent-filter>
          <action android:name="com.phonegap.plugins.thirdLogin.JDLOGIN"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
      <activity
        android:name="com.phonegap.plugins.thirdLogin.WxActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <intent-filter>
          <action android:name="com.phonegap.plugins.thirdLogin.WXLOGIN"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
      <activity
        android:name="com.phonegap.plugins.thirdLogin.QqActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <intent-filter>
          <action android:name="com.phonegap.plugins.thirdLogin.QQLOGIN"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
      <activity
        android:name="com.phonegap.plugins.thirdLogin.WbActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <intent-filter>
          <action android:name="com.phonegap.plugins.thirdLogin.WBLOGIN"/>
          <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>

      <!-- ############ 微信注册 ############ -->
      <activity android:name="com.pachila.pcl.wxapi.WXEntryActivity"
                android:configChanges="orientation|keyboardHidden"
                android:exported="true"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent">
        <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
      </activity>

      <!-- ############ QQ注册 ############ -->
      <activity android:name="com.tencent.connect.avatar.ImageActivity"/>
      <activity android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
      <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
        <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <category android:name="android.intent.category.BROWSABLE"/>
          <data android:scheme="tencent222222"/>
        </intent-filter>
      </activity>

      <!-- ############ 微博注册 ############ -->
      <activity
        android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
        android:configChanges="keyboardHidden|orientation"
        android:exported="false"
        android:windowSoftInputMode="adjustResize">
      </activity>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>

    <source-file src="src/android/FKJD.jar" target-dir="libs"/>
    <source-file src="src/android/commons-httpclient-3.1.jar" target-dir="libs"/>
    <source-file src="src/android/fastjson-1.1.39.jar" target-dir="libs"/>
    <source-file src="src/android/mta-sdk-1.0.0.jar" target-dir="libs"/>
    <source-file src="src/android/open_sdk.jar" target-dir="libs"/>
    <source-file src="src/android/libammsdk.jar" target-dir="libs"/>
    <source-file src="src/android/android-support-v13.jar" target-dir="libs"/>
    <source-file src="src/android/WeiboSDK.jar" target-dir="libs"/>
    <source-file src="src/android/weibosdkcore.jar" target-dir="libs"/>
    <source-file src="src/android/arm64-v8a/libweibosdkcore.so" target-dir="libs/arm64-v8a"/>
    <source-file src="src/android/armeabi/libweibosdkcore.so" target-dir="libs/armeabi"/>
    <source-file src="src/android/armeabi-v7a/libweibosdkcore.so" target-dir="libs/armeabi-v7a"/>
    <source-file src="src/android/mips/libweibosdkcore.so" target-dir="libs/mips"/>
    <source-file src="src/android/mips64/libweibosdkcore.so" target-dir="libs/mips64"/>
    <source-file src="src/android/x86/libweibosdkcore.so" target-dir="libs/x86"/>
    <source-file src="src/android/x86_64/libweibosdkcore.so" target-dir="libs/x86_64"/>


  </platform>

</plugin>
