<ion-view>
  <ion-nav-title>
    设备使用者
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-click="">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="d in deviceUsers" type="item-text-wrap"
                ng-click="">
        <img ng-src="images/ben.png" style="width:40px;">

        <h2>
          {{getUserType(d.relation_type)}} - {{d.person.nickname}}
        </h2>

        <p></p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <ion-option-button class="button-assertive" ng-click="remove(d)">
          解除控制权
        </ion-option-button>
      </ion-item>

    </ion-list>
  </ion-content>


</ion-view>


