<ion-view>
  <ion-nav-title>
    设备信息修改
  </ion-nav-title>
  <!--<ion-nav-buttons side="right">-->
  <!--<button class="button button-icon ion-ios-plus-outline" ng-click="go2detect()">-->
  <!--</button>-->
  <!--</ion-nav-buttons>-->
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">设备名称：</span>
        <input type="text" ng-model="device.name">
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit" ng-click="device_info_modify()">确定修改</button>
      </label>
    </div>
  </ion-content>

</ion-view>


